#about-page {
    align-content: center;
}

#about-me {
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 2em;
}

#message {
    text-align: left;
    padding: 2em;
}

@media (max-width: 768px) {
    #about-page {

    }
}

@media (min-width: 769px) {
    #about-page {
        padding-top: 8em;
    }
}