#about-page {
  -ms-flex-line-pack: center;
  align-content: center;
}

#about-me {
  width: 80vw;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  margin-top: 2em;
}

#message {
  text-align: left;
}

@media (max-width: 768px) {
  #about-page {
  }
}

@media (min-width: 769px) {
  #about-page {
    padding-top: 8em;
  }
}
