#projects-page {
    -ms-flex-line-pack: center;
    align-content: center;
}

#gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 2em;
    text-align: left;
    padding: 2em;
}

.project {
    margin: 1em;
    opacity: .5;
    -webkit-filter: grayscale(100%) sepia(100%);
}

.project:hover {
    opacity: 1;
    -webkit-filter: none;
}

@media (max-width: 768px) {
    #projects-page {}
    #gallery {
        margin-left: 10%;
        margin-right: 10%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media (min-width: 769px) {
    #projects-page {
        padding-top: 8em;
    }
}