#projects-page {
    align-content: center;
}

#gallery {
    display: flex;
    justify-content: space-around;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin-top: 2em;
    background-color: #FAF5E5;
    text-align: left;
    padding: 2em;
}

.project {
    opacity: .5; 
    -webkit-filter: grayscale(100%) sepia(100%); 
}

.project:hover { 
    opacity: 1; 
    -webkit-filter: none; 
}

@media (max-width: 768px) {
    #projects-page {

    }
    
    #gallery {
        margin-left: 10%;
        margin-right: 10%;
        flex-direction: column;
    }
}

@media (min-width: 769px) {
    #projects-page {
        padding-top: 8em;
    }
}