#aboutmebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-top: 1em;
  line-height: 1.5;
  width: 90vw;
}

@media (max-width: 768px) {
  #aboutmebox {
  }

  .aboutmebox-msg {
    padding: 1em;
    background-color: #faf5e5;
    font-size: 0.75em;
  }

  .aboutmebox-img {
    width: 5em;
    height: 5em;
  }

  .aboutmebox-title {
    color: #faf5e5;
    font-size: 0.5em;
    font-family: "Permanent Marker", cursive;
    margin-top: -2em;
    margin-left: 1em;
    padding-bottom: 2em;
  }
}

@media (min-width: 769px) {
  #aboutmebox {
  }

  .aboutmebox-msg {
    padding: 1em;
    background-color: #faf5e5;
    font-size: 1em;
  }

  .aboutmebox-img {
    width: 13em;
    height: 13em;
  }

  .aboutmebox-title {
    color: #faf5e5;
    font-family: "Permanent Marker", cursive;
    margin-top: -2em;
    margin-left: 1em;
    padding-bottom: 2em;
  }
}
