#aboutmebox {
    display:flex;
    justify-content: space-around;
    padding-top: 1em;
    line-height: 1.5;
}



.aboutmebox-msg {
    padding: 1em;
    font-size: .75em;
}

@media (max-width: 768px) {
    #aboutmebox {
        clear: left;

    }

    .aboutmebox-img {
        width: 5em;
        height: 5em;
    }

    .aboutmebox-title {
        color: #FAF5E5;
        font-size: .5em;
        font-family: 'Permanent Marker', cursive;
        margin-top: -2em;
        margin-left: 1em;
        padding-bottom: 2em;
    }
}

@media (min-width: 769px) {
    #aboutmebox {
    }

    .aboutmebox-img {
        width: 13em;
        height: 13em;
    }

    .aboutmebox-title {
        color: #FAF5E5;
        font-family: 'Permanent Marker', cursive;
        margin-top: -2em;
        margin-left: 1em;
        padding-bottom: 2em;
    }
}