#navbar {
    display: flex;
    justify-content: space-around;
    text-align: center;
}



@media (max-width: 768px) {
    #navbar {
        padding-bottom: 1em;
    }

    .link {
        font-size: 1.5em;
        color: #FAF5E5;
        text-decoration: none;
        border-bottom: .5em solid #FAF5E5;
    }
    
    .link:hover {
        color: #CAE7B9;
    }
    
    .active {
        border-bottom: .5em solid #CAE7B9;
    }
}

@media (min-width: 769px) {
    #navbar {

    }

    .link {
        font-size: 3em;
        color: #FAF5E5;
        text-decoration: none;
        border-bottom: .5em solid #FAF5E5;
    }

    .link:hover {
        color: #CAE7B9;
    }

    .active {
        border-bottom: .5em solid #CAE7B9;
    }

 
}