html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#loader-container {
  width: 25%;
  height: 25%;
  margin: auto;
  text-align: center;
  display: flex;
  position: absolute;
}

#loader {
  display: flex;
  width: 25%;
  height: 25%;
  margin: auto;
  background-color: black;
  position: relative;
  border-radius: 25px;
}
